---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include news_sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
<script>
    (function () {
            // Index of default active menus on document.ready
            var defaultActives = [ 0 ];

            var acc = document.querySelectorAll(".News-nav h2");
            var i;

            for (i = 0; i < acc.length; i++) {
                    if (defaultActives.includes(i)) {
                            acc[i].classList.add('active');
                    }
                    acc[i].addEventListener('click', function() {
                            this.classList.toggle('active');
                    });
            }
    })();
</script>
